@font-face {
  font-family: "SkateAppHeadings";
  src: url("./../fonts/midnight-drive.otf");
  src: url("./../fonts/midnight-drive.otf") format("opentype");
}

@font-face {
  font-family: "SkateAppBodies";
  src: url("./../fonts/black-melody.otf");
  src: url("./../fonts/black-melody.otf") format("opentype");
}