html, body {
  background: #643a7a;
  font-family: 'SkateAppBodies';
  position: absolute;
  width: 100%;
}

.skate-app--container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.skate-app--header {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-bg {
  display: flex;
  background-image: url('./../images/skate-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.overlay-bg {
  background-color: black;
  height: 400px;
  opacity: 0.45;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.header-title {
  box-sizing: border-box;
  color: #f4f4f4;
  display: flex;
  font-family: SkateAppHeadings;
  font-size: 24px;
  justify-content: space-between;
  padding: 16px;
  position: absolute;
  width: 100%;
  z-index: 11;
}
.header-title .header-logo {
  display: flex;
}
@media screen and (max-width: 549px) {
  .header-title .header-menu {
    display: none;
  }
}
@media screen and (min-width: 550px) {
  .header-title .header-menu {
    display: flex;
  }
}
.header-title .header-menu .header-menu-entry {
  margin-left: 32px;
  position: relative;
}
.header-menu-entry:hover { cursor: pointer; }
.header-menu-entry:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  margin-top: 5px;
  position: absolute;
  right: 0;
  transition: width .2s ease;
  width: 0;
}
.header-menu-entry:hover:after {
  background: #fff;
  left: 0;
  width: 100%;
}
.header-logo .title-heading {
  cursor: pointer;
  padding-left: 16px;
}

.skate-app--quote {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 16px 0 16px;
}
.skate-app--quote .quote-img {
  animation: 1s ease-in 0s forwards appearIn;
}
.skate-app--quote .quote-sentence {
  animation: 1s ease-in 0s forwards slideInFromLeft;
  color: #ff8c00;
  font-size: 38px;
  font-style: italic;
  margin-left: -100px;
  z-index: 1;
}
.blockquote { display: contents; }
.blockquote p { letter-spacing: 1.2px; }

.skate-app--options {
  display: flex;
  margin: 0 10% 32px;
}
@media screen and (max-width: 991px) {
  .skate-app--options {
    flex-flow: row wrap;
  }
}
.option-entry {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  background: #201c29;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 48px;
  margin-right: 32px;
  overflow: hidden;
  padding: 16px;
  transition: all .15s ease-out;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 991px) {
  .option-entry {
    margin-right: 0;
  }
}
.option-entry:last-of-type { margin-right: 0; }
.option-entry:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  /* transform: scale(1.1); */
}
.entry-img {
  display: flex;
  padding-top: 8px;
}
.entry-title {
  color: #ff8c00;
  display: flex;
  font-size: 32px;
  padding-top: 24px;
}
.entry-content {
  color: #ff9e40;
  display: flex;
  padding-top: 8px;
  font-size: 32px;
}

.skate-app--footer {
  align-items: center;
  background-color: #201c29;
  bottom: 0;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6);
  color: #ff8c00;
  display: flex;
  font-family: 'SkateAppHeadings';
  font-size: 24px;
  height: 64px;
  justify-content: center;
  margin-top: 32px;
  position: relative;
  width: 100%;
}

.skate-app--modal {
  background-color: rgba(0,0,0,0.4);
  display: none;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal-img {
  width: 200px;
}

.modal-content {
  align-items: center;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0 2px 8px orangered;
  display: flex;
  flex-direction: column;
  font-family: 'SkateAppBodies';
  font-size: 32px;
  justify-content: center;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.modal-button {
  display: flex;
}

.modal-button--btn {
  background-color: #643a7a;
  border-width: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  cursor: pointer;
  color: #ff8c00;
  display: block;
  font-family: 'SkateAppHeadings';
  font-size: 24px;
  margin-top: 12px;
  outline: none;
  overflow: hidden;
  padding: 12px 20px;
  transition: background-color .3s;
}
.modal-button--btn:hover, .modal-button--btn:focus {
  background-color: #581845;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show-on-visible {
  animation: 1s ease-out 0s both enteringBlock;
}

.blog--container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  padding-top: 32px;
}
.blog-header--title {
  color: #f4f4f4;
  display: flex;
  font-family: SkateAppHeadings;
  font-size: 38px;
  justify-content: center;
}

.blog-entry--wrapper {
  display: flex; flex-direction: column; font-size: 24px; color: #f4f4f4; padding-top: 32px;
}
.blog-entry--title {
  display: flex;
  font-family: SkateAppHeadings;
  font-size: 32px;
  font-weight: 700;
}
.blog-entry--timestamp {
  display: flex;
  font-size: 20px;
  font-style: italic;
}
.blog-entry--body {
  display: flex;
  flex-direction: column;
  font-size: 28px;
}

@keyframes appearIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enteringBlock {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}