<!-- Welcome quote -->
<div class="skate-app--quote">
  <div class="quote-img"><img src="./images/quotes.svg" /></div>
  <div class="quote-sentence">
    <blockquote class="blockquote">
      <p>De mis caídas aprendí a levantarme y no dejar de intentarlo...</p>
    </blockquote>
  </div>
</div>

<!-- Links -->
<div class="skate-app--options">
  <div class="goToProducts option-entry">
    <div class="entry-img">
      <img src="./images/products.png" />
    </div>
    <div class="entry-title">PRODUCTOS</div>
    <div class="entry-content">
      Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu, purus vestibulum erat auctor aliquam imperdiet
      dignissim cum gravida, laoreet felis varius venenatis praesent nulla faucibus.
    </div>
  </div>

  <div class="goToBlog option-entry">
    <div class="entry-img">
      <img src="./images/articles.png" />
    </div>
    <div class="entry-title">ARTÍCULOS</div>
    <div class="entry-content">
      Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu, purus vestibulum erat auctor aliquam imperdiet
      dignissim cum gravida, laoreet felis varius venenatis praesent nulla faucibus.
    </div>
  </div>

  <div class="goToGallery option-entry">
    <div class="entry-img">
      <img src="./images/photo-gallery.png" />
    </div>
    <div class="entry-title">GALERÍA</div>
    <div class="entry-content">
      Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu, purus vestibulum erat auctor aliquam imperdiet
      dignissim cum gravida, laoreet felis varius venenatis praesent nulla faucibus.
    </div>
  </div>
</div>